import Gt{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Gt{{properCase name}}',
  component: Gt{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Gt{{properCase name}} },
  template: `
    <div>
      <gt-{{name}}></gt-{{name}}>
    </div>
  `
})